.contenedor-carrito {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin: 16px 0px 24px;
  gap: 5px;
  border: white 1px solid;
  border-radius: 6px;
  transition: 0.3s border ease;
}

.contenedor-carrito:hover {
  border: dodgerblue 1px solid;
}

.img-carrito {
  float: left;
  grid-column: 1/2;
  grid-row: 1/3;
  text-align: center;
  align-items: center;
}

.img-carrito .b {
  padding: 2px;
  width: 100%;
  height: auto;
  margin-top: 5px;
}

.txt-carrito {
  width: 100%;
  background: seashell;
  color: black;
  grid-column: 2/4;
  grid-row: 1/10;
}

.txt-carrito p {
  font-size: 19px;
  margin: 7px;
}

.select-carrito {
  margin: 7px 40px 0px 0px;
  float: right;
}

h5 {
  float: left;
  margin: 7px;
  font-size: 23px;
}

.button-carrito {
  float: right;
  margin-top: 10px;
  margin-left: 106px;
  cursor: pointer;
  padding: 5px;
  width: 20%;
  text-align: center;
}

.logo {
  font-size: 24px;
}

.logo-card {
  font-size: 28px;
}

.contenedor-total {
  position: absolute;
  top: 3rem;
  width: 90%;
  margin-top: 112%;
  color: black;
}

.contenedor-p {
  width: 100%;
  background: seashell;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
}

.v {
  margin-bottom: 8rem;
}

h3 {
  font-size: 25px;
}

.button-pagar {
  width: 60%;
  background: black;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 10px;
}

.contenedor {
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.contenedor .contenedor-titulo {
  grid-column: 1/3;
  padding: 1rem;
  text-align: center;
}

.contenedor-informacion {
  grid-column: 1/6;
  grid-row: auto/auto;
}

.contenedor-datos {
  grid-column: 1/3;
  grid-row: 4 / auto;
  text-align: center;
}

.contenedor-pagar {
  grid-column: 4/6;
  grid-row: 4 / auto;
}

.table {
  width: 100%;
  border-collapse: initial;
}

.table-th {
  border: none;
  text-align: center;
  vertical-align: middle;
}

.table-th {
  text-align: center;
  border: none;
}

.table-th .img-resumen {
  border-radius: 1rem;
}
.justify-content-md-center {
  padding: 2rem 0 1rem 0;
  margin: 0 auto 0 auto;
  width: 80%;
}

.fort {
  flex: 1 0;
}

.contenedor-p-data {
  width: 70%;
  padding: 1rem;
  margin: 0 auto;
  text-align: justify;
}
.d-flex {
  margin: 0 auto 0 19%;
  width: 30%;
}

.float {
  float: right;
}

@media screen and (max-width: 768px) {
  .contenedor {
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(5, 1fr);
  }

  .contenedor .contenedor-titulo {
    grid-column: 1/6;
    padding: 1rem;
    text-align: center;
  }

  .table {
    width: 100%;
    border-collapse: initial;
    word-wrap: break-word;
    text-align: justify;
    margin: 0 auto;
  }

  .table-th {
    width: 1px;
    text-align: center;
    border: none;
    word-wrap: break-word;
  }

  .img-resumen {
    width: 10px;
  }

  .contenedor-datos {
    grid-column: 1/6;
    grid-row: auto / auto;
  }

  .contenedor-pagar {
    grid-column: 1/6;
    grid-row: auto / auto;
    margin: 0 auto;
  }
  .d-flex {
    float: right;
    margin: 0 1rem 0 0;
    width: 80%;
  }
}
